*{
    margin: 0;
}
.content{
    width: 400px;
    height: auto;
}

.content>form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap:30px;

}
.content>form>button{
    background-color: blue;
    border: none;
    width: 60px;
    height: 30px;
}
.content>form>input{
    padding: 5px;
}
.content>form>select{
    padding: 5px;
}